<div class="row">
  <div class="col-md-12">
    <h2><%- title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-9"><%- description %></div>
  <div class="col-md-3">
    <img src="<%= path %>" class="img-fluid" width="250px" />
  </div>
</div>
