<div>
  <div class="row">
    <div class="col-md-10"><h1>Projects</h1></div>
  </div>
  <% if (data){ %><%- include('project.ejs',{title: page.title, description:
  data.description, path: data.path})%><% }else{%>
  <p>No project yet!</p>
  <%} %>
</div>
