<div>
  <div class="row">
    <div class="col-md-10"><h1>Projects</h1></div>
  </div>
  <% for(var i=0; i < data.length; i++){ %> <%- include('project.ejs',{title:
  data[i].title, description:data[i].description, path: data[i].path}) %> <% }
  %>
</div>
